@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,200;1,800&display=swap");

:root {
  --pink: rgb(232, 202, 202);
  --light-pink: rgb(248, 238, 238);
  --faint-black: rgba(0, 0, 0, 0.322);
  --background-dark: rgb(8, 2, 24);
  --navy: rgb(4, 1, 10);
  --grey: rgb(218, 216, 216);
  --grey-white: rgb(232, 232, 232);
  --bright-green: rgb(69, 255, 0);
  --orange-white: rgb(251, 246, 238);
  --blue: rgb(0, 110, 255);
}

/* reset */

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Barlow";
  background-color: var(--navy);
  scroll-behavior: smooth;
}

h2 {
  margin: 0px;
}

a {
  text-decoration: none;
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* header */

h1 {
  margin: 0;
  margin-left: 20px;
  font-weight: 700;
  font-size: 3.2em;
  margin-top: 6px;
  z-index: 2;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  height: 90px;
  margin: 0px;
  padding: 0px;
  background-color: black;
  position: relative;
  row-gap: 0px;
  color: var(--pink);
  z-index: 2;
}

.nav,
.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.nav-button {
  height: fit-content;
  padding: 0;
  width: fit-content;
  font-family: "Barlow";
  background-color: transparent;
  border: none;
  margin-top: 0.6em;
  font-size: 1.2em;
  margin-right: 30px;
  color: var(--pink);
}

.nav-button:hover {
  color: var(--blue);
}

.small-logo {
  margin-top: 15px;
  margin-right: 30px;
  width: 30px;
}

.small-logo:hover {
  cursor: pointer;
  filter: invert(100%);
}

@media (max-width: 1000px) {
  header {
    height: 55px;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 2.5em;
      margin-left: 10px;
      margin-top: 2px;
    }
    .nav-button {
      margin-top: 0px;
      font-size: 1em;
      margin-right: 10px;
      margin-left: 10px;
    }
    .small-logo {
      margin-top: 0px;
      margin-right: 10px;
      margin-left: 10px;
      width: 20px;
    }

    .nav {
      flex-flow: row nowrap;
      flex-shrink: inherit;
      overflow: scroll;
      min-width: 0;
      min-height: 0;
    }

    @media (max-width: 350px) {
      h1 {
        font-size: calc(0.5em + 10vw);
      }

      .nav-button {
        font-size: calc(0.2em + 3vw);
        margin-right: 2px;
      }

      .small-logo {
        width: 13px;
        margin-left: 10px;
        margin-right: 0px;
      }
    }
  }
}

@media (orientation: portrait) {
  header {
    height: 90px;
  }
}

/* stars */

.star {
  position: absolute;
  z-index: 1;
}

.starInner {
  height: 2px;
  width: 2px;
  margin: 4px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px rgb(10, 64, 227);
  animation: twinkle1 3s infinite;
}

#star1 {
  top: 15vh;
  left: 80vw;
}

#star2 {
  top: 20vh;
  left: 10vw;
}

#star3 {
  top: 22vh;
  left: 30vw;
}

#star4 {
  top: 18vh;
  left: 35vw;
}

#star5 {
  top: 23vh;
  left: 60vw;
}

#star6 {
  top: 45vh;
  left: 50vw;
}

#star7 {
  top: 73vh;
  left: 80vw;
}

#star8 {
  top: 82vh;
  left: 10vw;
}

#star9 {
  top: 69vh;
  left: 31vw;
}

#star10 {
  top: 76vh;
  left: 55vw;
}

#game-text {
  margin: auto;
  text-align: center;
  height: 50px;
  color: var(--pink);
  background-color: var(--background-dark);
}

#winner,
#game-hint {
  display: none;
}

.switch {
  position: absolute;
  right: 35px;
  bottom: 35px;
  display: block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 17px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blue);
  opacity: 50%;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

@media (orientation: portrait) {
  #game-text,
  #winner,
  #game-hint,
  .star,
  .slider {
    display: none;
  }
}

/* home */

#home {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: calc(100vh - 140px);
  width: 100vw;
  background-color: var(--background-dark);
  color: white;
  align-items: center;
  gap: 0;
  min-height: 0;
  overflow: hidden;
}

#mini-bio,
#portfolio {
  box-sizing: border-box;
  font-size: 1.2em;
}

#mini-bio {
  width: 48vw;
  padding: 5%;
  padding-top: 0px;
  padding-left: 10vw;
}

a {
  color: var(--pink);
}

a:hover {
  color: var(--blue);
}

#welcome {
  font-size: calc(1em + 5vw);
  margin-bottom: 30px;
  color: rgb(251, 254, 166);
  color: rgb(223, 231, 247);
  margin-top: 20px;
  text-align: center;
}

#profile-pic {
  width: 30%;
  float: right;
  border-radius: 50%;
  margin: 20px;
  margin-top: 0px;
}

#previous,
#next {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  opacity: 25%;
}

#previous:hover {
  border-right-color: var(--blue);
  cursor: pointer;
  opacity: 100%;
}

#previous {
  margin-left: 5%;
  border-right: 15px solid var(--pink);
}

#next {
  border-left: 15px solid var(--pink);
  margin-right: 5%;
  cursor: pointer;
}

#next:hover {
  border-left-color: var(--blue);
  opacity: 100%;
}

#portfolio {
  width: 35vw;
  display: grid;
  grid-template-columns: 100% 100% 100% 100% 100%;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

#intro {
  margin-top: 40px;
  margin-bottom: 20%;
}

.project-mini {
  padding-left: 2vw;
  scroll-snap-align: center;
}

.project-img-mini {
  width: 95%;
  border-radius: 6px;
}

.date {
  font-size: 0.8em;
  font-weight: 500;
}

.project-mini-description {
  margin-bottom: 20%;
}

@media (max-width: 1000px) {
  #home {
    font-size: 0.8em;
    height: calc(100vh - 95px);
  }

  #welcome {
    margin: 20%;
  }

  #intro,
  .project-mini-description {
    margin-bottom: 0;
  }

  #previous,
  #next {
    margin: 1%;
  }

  .project-mini {
    padding-left: 2%;
  }

  #next {
    margin-right: 5%;
  }
}

@media (max-width: 800px) {
  #home {
    font-size: 0.7em;
  }

  #game-text {
    font-size: 0.8em;
  }

  #portfolio,
  #bio {
    max-height: calc(100vh - 95px);
  }

  #welcome {
    font-size: 2em;
    margin-bottom: 3%;
  }

  #intro {
    margin-top: 3%;
  }

  #previous,
  #next {
    border-top: 8px solid transparent;
    border-right: 12px solid var(--pink);
    border-bottom: 8px solid transparent;
    margin: 0px;
  }

  #previous {
    margin-left: 5%;
  }

  #next {
    border-right: 0px;
    border-left: 12px solid var(--pink);
    margin-right: 5%;
  }
}

@media (max-width: 400px) {
  #home {
    font-size: 0.6em;
  }
  .project-title-mini {
    margin-bottom: 2%;
  }
  .project-mini-description {
    margin-top: 0;
    margin-bottom: 10%;
  }
}

@media (orientation: portrait) {
  #home {
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    font-size: 1em;
    height: calc(100vh - 90px);
  }

  #mini-bio,
  #portfolio {
    min-width: 0;
    font-size: 1em;
  }

  #mini-bio {
    width: 96%;
    padding-bottom: 0;
  }

  #intro {
    margin-bottom: 0;
  }

  #welcome {
    font-size: calc(1em + 5vw);
    margin-bottom: 5%;
    margin-top: 0;
    color: white;
  }

  #portfolio {
    width: 80%;
    margin-bottom: 15vh;
  }

  .project-img-mini {
    max-width: 40vh;
  }

  .extra {
    display: none;
  }

  #previous,
  #next {
    border-top: 8px solid transparent;
    border-right: 12px solid var(--pink);
    border-bottom: 8px solid transparent;
    margin: 5px;
  }

  #previous {
    margin-left: 5%;
  }

  #next {
    border-right: 0px;
    border-left: 12px solid var(--pink);
    margin-right: 5%;
  }

  #game-text {
    font-size: 0.8em;
    margin: 10px;
    margin-top: 0px;
    text-align: left;
    height: 15px;
  }
}

@media (max-width: 330px) {
  .extra-intro {
    display: none;
  }

  #profile-pic {
    width: 80px;
  }

  #next {
    margin-left: 0;
  }

  #previous {
    margin-right: 0;
  }
}

@media (max-height: 700px) {
  #mini-bio {
    padding-bottom: 3%;
  }

  #portfolio {
    margin-bottom: 10vh;
  }
}

/* links banner */

#links-banner {
  background-color: var(--grey-white);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 50px 50px 0 var(--grey-white);
  border: none;
  z-index: 4;
  position: relative;
}

.banner-logo {
  height: 60px;
  opacity: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (orientation: portrait) {
  #links-banner {
    box-shadow: none;
  }
}

@media (max-width: 1000px) {
  .banner-logo {
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .del {
    display: none;
  }
}

@media (max-width: 465px) {
  .del2 {
    display: none;
  }
}

@media (max-width: 395px) {
  .del3 {
    display: none;
  }
}

@media (max-width: 326px) {
  .banner-logo {
    height: 20px;
  }
}

/* projects */

.section-title {
  font-size: calc(2em + 2vw);
  font-weight: 900;
  color: rgb(37, 37, 37);
  margin: 0 2%;
  padding: 0;
  padding-top: 1%;
  padding-bottom: 10px;
}

#projects {
  background: white;
  font-size: 1.2em;
  padding: 8%;
  padding-bottom: 10%;
  color: rgb(37, 37, 37);
}

#projects-container {
  background-color: var(--light-pink);
  border-radius: 20px;
  border: solid 5px var(--pink);
}

.project {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: flex-start;
  justify-content: stretch;
  align-items: center;
}

#projects-title {
  text-align: left;
  width: fit-content;
  border-bottom: 5px solid rgb(117, 117, 117);
}

.project-space {
  height: 4vh;
}

#project-title {
  margin: 0px;
  font-size: 2em;
  font-weight: 800;
}

.project-img {
  width: 40%;
  margin: 2.5%;
  box-sizing: border-box;
  border-radius: 8px;
}

.project-info {
  width: 60%;
  margin: 2.5%;
  box-sizing: border-box;
}

.project-subtitle {
  margin-top: 0;
  color: rgb(25, 25, 25);
  font-weight: 300;
  font-size: 1em;
  padding-bottom: 3px;
}

.project-anchor {
  color: var(--blue);
}

.divider {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2%;
  border-bottom: 2px solid var(--pink);
}

.headline {
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(249, 81, 120, 0.105);
  margin-right: 20px;
}

.info {
  font-size: 0.9em;
  padding: 5px;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 0;
}

.project-tech,
.project-description {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.question-logo {
  width: 40px;
  padding: 5px;
}

.cogs-logo {
  width: 50px;
}

@media (orientation: portrait) {
  #projects {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #projects-container {
    border: none;
    background-color: white;
  }

  .divider {
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .project-para {
    padding: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .info {
    padding-left: 10px;
    padding-right: 10px;
  }

  .question-logo,
  .cogs-logo,
  .project-title,
  .project-subtitle {
    margin-left: 2.5%;
  }

  .project-img,
  .projext-info {
    width: 95vw;
    font-size: 1em;
  }

  #daily-express-proj,
  #swim-wild-proj,
  #coup-proj,
  #animals-proj,
  #sc-scraper-proj {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  #intro {
    margin-bottom: 10px;
  }

  .project {
    flex-flow: row wrap;
  }

  .project-info {
    width: 100%;
    font-size: 1rem;
    margin: 0;
  }

  .headline {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  #projects-title {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
}

@media (max-width: 350px) {
  .question-logo {
    width: 25px;
    padding: 2px;
  }

  .cogs-logo {
    width: 30px;
  }

  .project-para {
    margin: 10px;
  }

  code {
    font-size: 0.8em;
  }
}

/* about */

#about-me {
  background-color: rgb(244, 250, 251);
  box-shadow: 0 -50px 50px 0 rgb(244, 250, 251);
  font-size: 1.2em;
  height: 100vh;
  position: relative;
  padding: 2.5%;
  padding-top: 2.5%;
}

iframe {
  margin: 4%;
  width: 470px;
  height: 115px;
  min-width: none;
  filter: hue-rotate(340deg);
}

.contact-anchor {
  color: var(--navy);
}

.contact-anchor:hover {
  cursor: pointer;
}

#about-me-title {
  border: none;
  text-align: center;
}

#blob1 {
  margin: auto;
  margin-top: 10vh;
  padding: 5%;
  width: 61vw;
  border: 5px solid rgb(174, 192, 202);
  max-width: 800px;
  background-color: rgba(54, 109, 127, 0.152);
  border-radius: 60% 60% 60% 50% / 40% 70% 30% 70%;
}

#blob1:hover {
  animation: blob1 10s ease-in-out infinite;
}

.about-me-content {
  display: block;
  margin: auto;
  text-align: center;
}

.about-me-para {
  color: rgb(37, 37, 37);
  text-align: center;
  margin: 2% 4%;
  font-weight: 300;
}

@media (max-width: 1500px) {
  #about-me {
    padding-bottom: 300px;
    padding-top: 50px;
  }

  #blob1 {
    margin-top: 0;
    width: 54vw;
    left: 40vw;
    height: fit-content;
    padding: 5vw;
    left: 30%;
    top: 7%;
  }
}

@media (max-width: 1200px) {
  #blob1 {
    padding-left: 10vw;
    padding-right: 10vw;
    left: 25vw;
    font-size: 0.8em;
    margin-right: 0;
  }

  iframe {
    width: 50vh;
    max-width: 500px;
  }
}

@media (max-width: 850px) {
  .about-me-content {
    font-size: 0.8em;
  }

  #blob1 {
    height: fit-content;
  }
}

@media (orientation: portrait) {
  #about-me {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 98vh;
    padding: 0;
    padding-top: 2vh;
    padding-bottom: 10vh;
  }

  #blob1 {
    width: 100vw;
    box-sizing: border-box;
    padding: 7vh;
    padding-bottom: 10vh;
    position: static;
    display: block;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }

  iframe {
    height: 115px;
    width: 95vw;
    margin: 0;
    margin-top: 10px;
  }

  #about-me-title {
    width: fit-content;
    border-bottom: 5px solid rgb(117, 117, 117);
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }

  .about-me-para {
    margin: 10px 10px;
    margin-bottom: 20px;
    font-size: 12pt;
  }
}

/* contact */

#contact {
  background: rgb(241, 250, 243);
  box-shadow: 0 -50px 50px 0 rgb(241, 250, 243);
  color: var(--navy);
  height: 80vh;
  padding-top: 10vh;
  z-index: 10;
  position: relative;
}

#contact-list {
  list-style: none;
  padding-left: 0;
  margin: auto;
  width: fit-content;
}

li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow: wrap;
}

.contact {
  min-width: 0px;
  min-height: 0px;
  overflow: scroll;
  margin-right: 5%;
  font-size: 14pt;
  font-weight: 300;
}

.contact-img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10%;
  opacity: 80%;
}

#contact-title {
  padding-bottom: 3%;
  text-align: center;
  border: none;
}

#blob2 {
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding: 10vh;
  max-width: 100vw;
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: #327f523e;
  border-radius: 50% 50% 60% 50% / 70% 30% 60% 30%;
  border: 5px solid rgb(159, 187, 174);
}

#blob2:hover {
  animation: blob2 10s ease-in-out infinite;
}

#phone-logo {
  padding-right: 5px;
  padding-left: 5px;
}

@media (max-width: 500px) {
  #blob2 {
    padding-left: 5%;
    padding-right: 5%;
  }

  #phone-logo {
    padding-right: 3px;
    padding-left: 3px;
  }

  .contact-img {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 22px;
    max-height: 22px;
  }

  .contact {
    font-size: 12pt;
  }
}

@media (max-width: 330px) {
  .contact-img {
    max-width: 20px;
    max-height: 20px;
    margin-right: 5%;
  }
  .contact {
    font-size: 0.8em;
  }
}

/* footer */

.nav-bottom {
  height: 10vh;
  justify-content: center;
  flex-flow: row wrap;
}

.footer-button,
.footer-logo {
  margin: 10px;
}

.footer-header {
  color: var(--pink);
  margin: 10px;
}

.vertical-bar {
  color: var(--pink);
  font-size: 1.8em;
  font-weight: 300;
  margin: 10px;
}

@media (max-width: 330px) {
  .footer-header {
    font-size: 1em;
    margin: 5px;
  }

  .footer-button,
  .footer-logo {
    margin: 5px;
    margin: 5px;
  }

  .vertical-bar {
    margin: 5px;
  }
}

@keyframes blob2 {
  0% {
    border-radius: 50% 50% 60% 50% / 70% 30% 60% 30%;
  }
  25% {
    border-radius: 50% 60% 50% 40% / 60% 40% 30% 60%;
  }
  50% {
    border-radius: 40% 60% 50% 50% / 30% 70% 50% 60%;
  }
  75% {
    border-radius: 40% 60% 50% 50% / 30% 60% 50% 60%;
  }
  100% {
    border-radius: 50% 50% 60% 50% / 70% 30% 60% 30%;
  }
}

@keyframes blob1 {
  0% {
    border-radius: 60% 60% 60% 50% / 40% 70% 30% 70%;
  }
  25% {
    border-radius: 50% 60% 60% 70% / 40% 60% 40% 60%;
  }
  50% {
    border-radius: 40% 60% 50% 50% / 50% 30% 50% 40%;
  }
  75% {
    border-radius: 60% 60% 50% 50% / 30% 75% 60% 50%;
  }
  100% {
    border-radius: 60% 60% 60% 50% / 40% 70% 30% 70%;
  }
}

@keyframes twinkle1 {
  0% {
    background-color: rgb(104, 162, 255);
  }
  50% {
    background-color: rgb(188, 203, 126);
  }
  100% {
    background-color: rgb(104, 162, 255);
  }
}
